/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap');

@media screen {
  body {
    background-color: #555555;
  	color:black;
  	border: 0px;
  	padding: 2%;
  	margin: 0px;
  }
  main {
    background-color: #FFF;
    font-size: .9rem;
  	line-height: 135%;
    font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    padding: 2%;
  }
  strong {
    font-weight: bold;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2  {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h3  {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  em.fail {
    color: red;
    font-weight: 600;
  }
  em.pass {
    color: green;
    font-weight: 600;
  }
  em.info {
    font-weight: 600;
  }
  em.warning {
    color: #FFBF00;
    font-weight: 600;
  }
  code{
    font-family: 'Roboto Mono', monospace;
  }
<<<<<<< HEAD
  ul {
    list-style: disc inside ;
  }
=======
>>>>>>> cd7d7bbdca883f67f50d0b28e0bbf4728ce0aa8d
