<section id="enitity-check">
  <h2>Named entity attributes report</h2>
  {% for key in results %}
  <h3>Report on {{ key }}</h3>
    {% if results[key]['entity_name_check']['passes'] %} <em class="pass">PASS:</em> Name exists
    {% else %} <em class="fail">FAIL:</em> No name
    {% endif %} <br />
    {% for i in results[key]['entity_name_check']['info'] %}
      <em class="info">INFO:</em> {{ i }} <br />
    {% endfor %}
    {% for w in results[key]['entity_name_check']['warnings'] %}
      <em class="warning">WARNING:</em> {{ w }} <br />
    {% endfor %}
    {% if results[key]['entity_description_check']['passes'] %} <em class="pass">PASS:</em> description is valid or absent
    {% else %} <em class="fail">FAIL:</em> the description is invalid
    {% endif %} <br />
    {% for i in results[key]['entity_description_check']['info'] %}
      <em class="info">INFO:</em> {{ i }} <br />
    {% endfor %}
    {% for w in results[key]['entity_description_check']['warnings'] %}
      <em class="warning">WARNING:</em> {{ w }} <br />
    {% endfor %}
    {% if results[key]['type_check']['passes'] %} <em class="pass">PASS:</em> {{results[key]['type_check']['descr']}}
    {% else %} <em class="fail">FAIL:</em> {{results[key]['type_check']['descr']}}
    {% endif %} <br />
    {% for i in results[key]['type_check']['info'] %}
      <em class="info">INFO:</em> {{ i }} <br />
    {% endfor %}
    {% for w in results[key]['type_check']['warnings'] %}
      <em class="warning">WARNING:</em> {{ w }} <br />
    {% endfor %}
  {% endfor %}
</section>
